<%- include('../includes/head.ejs') %>
<div class="p-2 grid md:grid-cols-12">
  <!-- wrapper -->
  <div class="md:col-span-2"><%- include('../includes/navigation.ejs') %></div>

  <main class="px-4 md:col-span-10">
    <%- include('../includes/auth.ejs') %>

    <header class="mt-4 text-center">
        <h2
          class="text-gray-700 text-2xl font-semibold leading-none tracking-wider"
        >
          Reset Password
        </h2>
      </header>

    <div>
      <% if (message) { %>
        <div id="flash-message" class="w-2/4 mx-auto my-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Oops!</strong>
          <span class="block sm:inline"><%= message %> </span>
          <span id="flash-message-btn" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
          </span>
        </div>
      <% } %>
      <!-- form go here -->
      <form
        action="/reset-password"
        method="POST"
        class="w-2/4 mx-auto"
      >
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6">
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-700"
                  >E-mail</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  autocomplete="off"
                  class="mt-1 focus:ring-indigo-300 focus:border-indigo-100 block w-full shadow-sm sm:text-sm border border-gray-300 p-1 rounded-md"
                />
              </div>

            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-center sm:px-6">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button
              type="submit"
              class="btn text-primary border-primary md:border-2 hover:bg-green-500 transition ease-out duration-500"
            >
              Reset Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </main>
  <!-- end wrapper -->
</div>
<%- include('../includes/end.ejs') %>
