<%- include('../includes/head.ejs') %>
<div class="p-2 grid md:grid-cols-12">
  <!-- wrapper -->
  <div class="md:col-span-2"><%- include('../includes/navigation.ejs') %></div>

  <main class="px-4 md:col-span-10">
    <%- include('../includes/auth.ejs') %>

    <header class="mt-4 text-center">
      <h2
        class="text-gray-700 text-2xl font-semibold leading-none tracking-wider"
      >
        Add Product
      </h2>
    </header>

    <div>
      <!-- form go here -->
      <form
        action="/admin/<%= edit ? 'edit-product' : 'add-product' %>"
        method="POST"
        class="w-2/4 mx-auto"
      >
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6">
                <label
                  for="title"
                  class="block text-sm font-medium text-gray-700"
                  >Title</label
                >
                <input
                  type="text"
                  name="title"
                  value="<%= edit ? product.title : '' %>"
                  id="title"
                  autocomplete="off"
                  class="mt-1 focus:ring-indigo-300 focus:border-indigo-100 block w-full shadow-sm sm:text-sm border border-gray-300 p-1 rounded-md"
                />
              </div>

              <div class="col-span-6">
                <label
                  for="price"
                  class="block text-sm font-medium text-gray-700"
                  >Price</label
                >
                <input
                  type="number"
                  name="price"
                  value="<%= edit ? product.price : '' %>"
                  id="price"
                  autocomplete="off"
                  class="mt-1 focus:ring-indigo-300 focus:border-indigo-100 block w-full shadow-sm sm:text-sm border border-gray-300 p-1 rounded-md"
                />
              </div>

              <div class="col-span-6">
                <label
                  for="image-url"
                  class="block text-sm font-medium text-gray-700"
                  >Image URL</label
                >
                <input
                  type="text"
                  name="image_url"
                  value="<%= edit ? product.imageUrl : '' %>"
                  id="image-url"
                  class="mt-1 focus:ring-indigo-300 focus:border-indigo-100 block w-full shadow-sm sm:text-sm border border-gray-300 p-1 rounded-md"
                />
              </div>

              <div class="col-span-6">
                <label
                  for="description"
                  class="block text-sm font-medium text-gray-700"
                  >Description</label
                >
                <textarea
                  id="description"
                  name="description"
                  rows="3"
                  class="shadow-sm focus:ring-indigo-300 focus:border-indigo-100 mt-1 block w-full sm:text-sm border border-gray-300 p-1 rounded-md"
                >
<%= edit ? product.description : '' %></textarea
                >
                <input
                  type="hidden"
                  name="id"
                  value="<%= edit ? product.id : '' %>"
                />
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-center sm:px-6">
            <button
              type="submit"
              class="btn text-primary border-primary md:border-2 hover:bg-green-500 transition ease-out duration-500"
            >
              <%= edit ? 'Update Product' : 'Add Product' %>
            </button>
          </div>
        </div>
      </form>
    </div>
  </main>
  <!-- end wrapper -->
</div>
<%- include('../includes/end.ejs') %>
