<div class="flex flex-col items-center my-12">
    <div class="flex text-gray-700">
        
        <% if (hasPreviousPage) { %>
          <div class="h-8 w-8 mr-1 flex justify-center items-center rounded-full cursor-pointer">
            <a href="?page=<%= previousPage %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4">
                <polyline points="15 18 9 12 15 6"></polyline>
              </svg>
            </a>
          </div>
        <% } %>

        <div class="flex h-8 font-medium rounded-full">
          <% if (currentPage !== 1 && previousPage !== 1) { %>
            <a href="?page=1" class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">1</a>
          <% } %>
          <% if (currentPage !== 1 && previousPage !== 1) { %>
            <a class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">...</a>
          <% } %>
          <% if (hasPreviousPage) { %>
            <a href="?page=<%= previousPage %>" class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"><%= previousPage %></a>
          <% } %>

            <a href="?page=<%= currentPage %>" class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full bg-pink-600 text-white "><%= currentPage %></a>
            
          <% if (hasNextPage) { %>
            <a href="?page=<%= nextPage %>" class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"><%= nextPage %></a>
          <% } %>
          <% if (currentPage !== lastPage && nextPage !== lastPage) { %>
            <a class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full">...</a>
          <% } %>
          <% if (currentPage !== lastPage && nextPage !== lastPage) { %>
            <a href="?page=<%= lastPage %>" class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"><%= lastPage %></a>
          <% } %>
        </div>

        <% if (hasNextPage) { %>
          <div class="h-8 w-8 ml-1 flex justify-center items-center rounded-full cursor-pointer">
              <a href="?page=<%= nextPage %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4">
                  <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
              </a>
          </div>
        <% } %>

    </div>
  </div>